@import "~bulma/sass/utilities/_all";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
// Set your colors
$primary: #EF4144;
$primary-invert: findColorInvert($primary);

$family-primary: "Open Sans";
$body-size: 1.2rem;

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: white;
$link-focus-border: $primary;

$nav-height: 5em;
// Import Bulma and Buefy styles
@import "~bulma";